.jam-element {
}

.jam {
	padding: 20px;
	background-color: #fff;
	-webkit-box-shadow: 1px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 3px 5px 0px rgba(50, 50, 50, 0.75);
	cursor: pointer;
	color: #111;
	margin-bottom: 20px;
}

.jam h3 {
}

.jam:hover {
	background-color: #e5e5e5;
}

.jamHeader {
	line-height: 40px;
}

.jamHeader img {
	height: 40px;
	width: 40px;
}

.dateCreation {
	color: #777;
}

.ownerName {
	color: #333;
	font-size: 1.1em;
	margin-left: 10px;
}

.likes {
	font-size: 2.0em;
	color: #2383c4;
}

.likes:hover {
	font-size: 2.5em;
}

.likes .green {
	color: #13987e;
}