#login {
    position: fixed;
    top: 50px;
    left:20%;
    width: 60%;
    text-align: center;
    background: #fff;
    opacity: 0.9;
    padding: 30px;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 3px 5px 0px rgba(50, 50, 50, 0.75);
}


#login h1 {
    font-family: 'Lemon';
	font-size: 3.0em;
	text-shadow: 2px 2px 5px #aaa;
}

#login h3 {
    font-family: 'Lemon';
    font-size: 1.8em;
    text-shadow: 2px 2px 5px #aaa;
}

#login img.bigLogo {
    height: 300px;
    width: 300px;
}

.loginFacebook {
    font-family: 'Lemon';
    line-height: 50px!important;
    padding: 8px 12px 8px 12px!important;
    background: #8da3d4!important;
    border-color: #8da3d4!important;
}

.loginFacebook:hover {
    background: #ccd5e9!important;
    border-color: #ccd5e9!important;
}

.loginFacebook span {
    vertical-align: top;
}

.loginFacebook img {
    vertical-align: top;
    height: 50px;
    width: 50px;
    margin-right: 15px;
}