#topbar {
	width: 100%;
	height: 130px;
	line-height: 130px;
}

#topbar .username {
	display: inline;
	float: right;
}

#topbar .btn {
	width: 80px;
	display: inline-block;
	vertical-align: middle;
}

#topbar img {
	width: 50px;
	height: 50px;
}

#topbar .topbar-logo {
	position: absolute;
	width: 100%;
	top: 0;
	text-align: center;
	z-index: -1;
}

.username p {
	display: inline-block;
	line-height: 0;
}
