.navbar-brand {
	vertical-align: top;
}
.navbar-brand img {
	height: 50px;
	width: 50px;
	position: relative;
	top: -14px;
	padding: 5px;
}

.navbar-brand:hover {
	opacity: 0.4;
}

.navbar-text {
	margin-top: 11px;
	margin-bottom: 10px;
}

.navbar .username img {
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

.navbar .username:hover {
	opacity: 0.4;
}

.navbar .username a:hover {
	text-decoration: none;
}

.navbar .newJam {
	margin-left: 30px;
}