#topbar {
	width: 100%;
	height: 30px;

	background-color: #333;
	color: #FFF;
	top: 0;
}

#topbar .username {
	display: inline;
	vertical-align: middle;
}

#topbar .btn {
	height: 100%;

	float: right;
	
	padding: 0;

	border-left: solid 2px #555;
	border-radius: 3px;
}
