<div class="comment">

	<div class="header">
		<a class="owner" href="#profil/<%= userId %>">
			<img alt="profile picture" class="img-rounded" src="http://graph.facebook.com/<%= ownerFacebookId %>/picture?type=square"/>
			&nbsp;<small><%= ownerName %></small>
		</a>
		<small class="date pull-right"><i><%= createdAt %></i></small>
	</div>

	<button class="btn-xs btn-danger pull-right removeComment"><span class="glyphicon glyphicon-remove"></span></button>

	<p class="content"><%= content %></p>

	<hr/>

</div>
