<div class="row production">

    <% if (mode !== "create") { %>
	   <div class="sidebar col-md-3 boxShadowed"></div>
    <% } %>

	<div class="col-md-6">
		<div class="recorder boxShadowed"></div>
	</div>

    <% if (mode !== "create") { %>
	    <div class="comments col-md-3 boxShadowed"></div>
    <% } else { %>
        <div class="col-md-6 boxShadowed">Description, etc.</div>
    <% } %>

</div>


<!-- 

variable ::: mode

* edit : SIDEBAR // RECORDER // COMMENTS

* create : RECORDER

* show : SIDEBAR // +++ MODIFIED_RECORDER +++ // COMMENTS


=> SCOPE CSS



-->
