<div class="header row">
    <% if (mode === "create") { %>
        <div class="col-xs-8">
            <input id="inputName"  class="form-control edit-jam-name" type="text" placeholder="enter a name for this jam !" autofocus="autofocus"/>
        </div>
    <% } else { %>
        <div class="col-xs-8">
            <h4><%= name %></h4>
        </div>
        <div class="col-xs-4 right">
            <button class="likeButton btn-xs right <%= options.class %>"><span class="glyphicon glyphicon-music"></span>&nbsp;&nbsp;<%= options.label %></button>
            &nbsp;&nbsp;<span class="nbLikes"><%= nbLikes %></span>
        </div>
    <% } %>
</div>

<div class="preview-container">
    <video id="preview"></video>
    <div class="onStage blink hide">REC&nbsp;<div class="circle"></div></div>
</div>

<div class="controls">
    <button class="recbtn btn-lg btn-danger" title="Record"><span class="glyphicon glyphicon-record"></span></button>
    <button class="stopbtn btn-lg btn-info" title="Stop"><span class="glyphicon glyphicon-stop"></span></button>
    <button class="playbtn btn-lg btn-info" title="Play"><span class="glyphicon glyphicon-play"></span></button>
    <button class="savebtn btn-lg btn-success" title="Save Jam"><span class="glyphicon glyphicon-floppy-saved"></span></button>
</div>

<div class="videos-container header row"></div>
