<div class="header">
	<div class="pull-right">
		<button class="likeButton btn-xs btn-info right"><span class="glyphicon glyphicon-music"></span>&nbsp;&nbsp;I like it !</button>
		&nbsp;&nbsp;344
	</div>
	<h4><b>Titre Jam</b></h4>
</div>

<div class="preview-container">
    <div class="stageLight"></div>
    <video id="preview"></video>
</div>

<div class="controls">
    <button class="recbtn btn-lg btn-warning" title="Record"><span class="glyphicon glyphicon-record"></span></button>
    <button class="stopbtn btn-lg btn-info" title="Stop"><span class="glyphicon glyphicon-stop"></span></button>
    <button class="playbtn btn-lg btn-info" title="Play"><span class="glyphicon glyphicon-play"></span></button>
    <button class="savebtn btn-lg btn-success" title="Save Jam"><span class="glyphicon glyphicon-floppy-saved"></span></button>
</div>

<div class="videos-container"></div>
