<div id="welcomeLayout">

	<h1>Welcome to HTML Jam !</h1>

	<div>
		<img class="bigLogo" alt="jam logo" src="../../images/big_logo.png"/>
	</div>

	<h4><i>#collaborative&nbsp;&nbsp;&nbsp;#music&nbsp;&nbsp;&nbsp;#awesome</i></h4>

	<hr/>

	<a class="btn btn-lg btn-info loginFacebook" href="http://warnode.com:8081/auth/facebook">
		<img alt="Facebook Icon" src="../images/ic_facebook.png"/><span>Login with Facebook</span>
	</a>

</div>

<h1 id="linkInstructions" class="easeTransition">What is a Jam ?</h1>
<div id="instructions">
	<div class="row">
		<div class="col-md-4">
			<img class="bigLogo" alt="jam logo" src="../../images/big_logo.png"/>
		</div>
		<div class="col-md-4">
			<img class="bigLogo" alt="jam logo" src="../../images/big_logo.png"/>
		</div>
		<div class="col-md-4">
			<img class="bigLogo" alt="jam logo" src="../../images/big_logo.png"/>
		</div>
	</div>
</div>