body {
    background-color: #eee;
    background-image: url("../../images/stripe.png");
	background-repeat: repeat;
    padding-top: 70px;
}

#corpus {
	padding-top: 5px;
	background: none;
	border: 0;
	box-shadow: none;
}

.easeTransition {
    -webkit-transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -moz-transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -ms-transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
}

a:hover {
    color: #2383c4;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: 0.5;
    text-align: center;
}

footer:hover {
    opacity: 0.7;
}

footer a {
    font-size: 1.1em;
    color: #111;
    padding: 5px 15px 5px 15px;
}

footer a:hover {
    text-decoration: none;
    color: #111;
    background: #e5e5e5;
}

.right {
    text-align: right;
}