@import "compass";
@import "variables";
@include font-face("Lemon", font-files("/fonts/lemon.ttf"));


/* COMMON */
.easeTransition {
    @include single-transition(all, 600ms, false, false);
}

.fastTransition {
    @include single-transition(all, 300ms, false, false);
}

.right {
    text-align: right;
}

a {
    color: #333;

    &:hover {
        color: $mainBlue;
    }
}

.boxShadowed {
    @include box-shadow(rgba(50, 50, 50, 0.75) 1px 3px 5px 0px);
}

.modalDialog {
    @extend .easeTransition;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    display: none;

    h3 {
        font-family: 'Lemon';
    }

    hr {
        border-color: #333;
    }

    &.show {
        opacity: 1;
        pointer-events: auto;
    }

    & > div {
        width: 500px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        @include background-image(linear-gradient(top, #ffffff, #e5e5e5));
    }

    .close {
        position: absolute;
        top: 5px;
        right: 5px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2em;
        color: #111;
        opacity: 0.1;
    }

    .close:hover { 
        opacity: 0.7;    
    }

}





/* MAIN PAGE */
body {
    background-attachment:fixed;
    background-color: rgba(0, 0, 0, 1);
    background-image: url("../../images/stripe.png");
	background-repeat: repeat;
    padding-top: 70px;
}

#corpus {
	padding-top: 5px;
	background: none;
	border: 0;
	box-shadow: none;
}


#appInfo {
    position: absolute;
    top: 0px;
    right: 5px;
    opacity: 0.4;
    text-align: center;
    height: 40px;

    &:hover {
        opacity: 0.7;
    }

    a, span {
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        font-size: 1.1em;
        color: #eee;
        padding: 5px 15px 5px 15px;

        &:hover {
            text-decoration: none;
            color: #111;
            background: #e5e5e5;
        }
    }
}



