body {
    background-color: #eee;
    background-image: url("../../images/stripe.png");
	background-repeat: repeat;
    padding-top: 70px;
}

#corpus {
	padding-top: 5px;
	background: none;
	border: 0;
	box-shadow: none;
}

.easeTransition {
    -webkit-transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -moz-transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -ms-transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
}

a:hover {
    color: #2383c4;
}