@import "compass";
@import "variables";

.navbar {
  	@include background-image(linear-gradient(top, #ffffff, #e5e5e5));
	@include box-shadow(rgba(50, 50, 50, 0.75) 0px 3px 5px 0px);
	
	.navbar-brand {
		font-size: 1.5em;
		vertical-align: top;
		color: #333;
		text-shadow: 1px 1px 2px #ccc;
		font-family: 'Lemon';

		&:hover {
			opacity: 0.9;
			color: $mainBlue;
			text-shadow: none;
		};

		img {
			height: 60px;
			width: 60px;
			position: relative;
			top: -19px;
			padding: 2px;
		}
	}

	.username {
		&:hover {
			@extend .navbar-brand:hover;
		}

		.navbar-link {
			color: #333;
			font-size: 1.1em;
			font-weight: normal;
			text-shadow: 1px 1px 2px #ccc;
		}
	}
	
	.navbar-text {
		margin-top: 12px;
		margin-bottom: 0px;
	}


	.username:hover > a, .username a:hover {
		color: $mainBlue;
		text-shadow: none;
	}


	.username img {
		height: 40px;
		width: 40px;
		margin-right: 6px;
	}

	.username a:hover {
		text-decoration: none;
	}

	.newJam {
		margin-left: 30px;
	}
}

