.comments {
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 3px 5px 0px rgba(50, 50, 50, 0.75);
    color: #111;
    overflow: auto;
    max-height: 800px;
}

.comments .sendCommentLayout {
	margin-bottom: 10px;
}

.comments textarea {
   resize: none;
   padding: 4px 8px 4px 8px;
}

.comments .sendCommentLayout textarea, .comments .sendCommentLayout button {
    height: 36px;
}

.comments .header {
    height: 30px;
}

.comments .header a:hover {
    text-decoration: none;
    opacity: 0.9;
}

.comments .header a:hover > small{
    text-decoration: underline;
}

.comments .header img {
    width: 30px;
    height: 30px;
}

.comments .owner {
	color: #2383c4;
}

.comments .date {
	color: #777;
    line-height: 30px;
}

.comments .removeComment {
	height: 20px;
	width: 20px;
	padding: 0px;
	opacity: 0;
}

.comments .comment:hover > .removeComment {
	opacity: 0.5;
}

.comments .removeComment:hover {
    opacity: 0.9!important;
}

.comments .content {
    margin-top: 12px;
    font-size: 1.4em;
}

.comments .comment hr {
    margin-top: 15px;
    margin-bottom: 15px;
}
