.comments {
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 3px 5px 0px rgba(50, 50, 50, 0.75);
    color: #111;
}

.comments textarea {
   resize: none;
   padding: 4px;
}

.comments .sendCommentLayout textarea, .comments .sendCommentLayout button {
    height: 60px;
}
