<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">

		<a class="navbar-brand" href=""><img src="images/img.png"/>  HTML Jam</a>

		<button class="btn-sm btn-danger navbar-btn pull-right logout">Logout</button>

		<p class="navbar-text navbar-right username">
			<a href="#profil/" class="navbar-link">
				<img alt="profile picture" class="img-rounded" src="http://graph.facebook.com/<%= facebook_id %>/picture?type=square" /><%= name %>
			</a>
		</p>

		<button class="btn btn-success navbar-btn pull-left newJam">Create new Jam !</button>

	</div>
</nav>