<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">

		<a class="navbar-brand fastTransition" href=""><img src="images/logo.png"/>  HTML Jam</a>

		<button class="btn-xs btn-danger navbar-btn pull-right logout">Logout</button>

		<p class="navbar-text pull-right username">
			<a href="#profil/" class="navbar-link">
				<img alt="profile picture" class="img-rounded" src="http://graph.facebook.com/<%= facebook_id %>/picture?type=square" />
				<span class="hidden-xs"><%= name %></span>
			</a>
		</p>

		<button class="btn-sm btn-info navbar-btn pull-left newJam">Create Jam !</button>

	</div>
</nav>