<div class="jam easeTransition">

	<div class="jamHeader">
		<img class="profilePic img-rounded" alt="profile picture" src="http://graph.facebook.com/<%= ownerFacebookId %>/picture?type=square" />
		<a class="ownerName" href="#users/<%= userId %>"><%= ownerName %></a>
		<i class="pull-right dateCreation"><%= createdAt %></i>
	</div>

	<hr/>

	<h3><%= name %></h3>

	<div class="socialFigures pull-right">
		<div class="likes easeTransition <% if (doILikeIt) { %>green<% } %>"><span class="glyphicon glyphicon-music"></span>&nbsp;&nbsp;<%= nbLikes %></div>
	</div>


	<p><%= description %></p>



</div>