<div class="jam easeTransition boxShadowed">

	<div class="jamHeader">
		<a class="ownerName" href="#users/<%= userId %>">
			<img class="profilePic img-rounded" alt="profile picture" src="http://graph.facebook.com/<%= ownerFacebookId %>/picture?type=square" /><%= ownerName %>
		</a>
		<i class="pull-right dateCreation"><%= createdAt %></i>
	</div>

	<hr/>

	<div class="socialFigures pull-right">
		<div class="likes easeTransition <% if (doILikeIt) { %>green<% } %>"><span class="glyphicon glyphicon-music"></span>&nbsp;&nbsp;<%= nbLikes %></div>
	</div>

	<h3><%= name %></h3>

</div>