<div class="feedsMenu">

	<div class="btn-group btn-group-sm">
		<button type="button" class="btn btn-primary active mostPopular"><span class="glyphicon glyphicon-music"></span>&nbsp;&nbsp;Most popular</button>
		<button type="button" class="btn btn-primary mostRecent"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;Most recent</button>
		<button type="button" class="btn btn-primary friendsJams"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Friends jams</button>
		<button type="button" class="btn btn-primary ourFavorites"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;Our favorites !</button>
	</div>

</div>

<div class="feeds"></div>
