<div class="feedsMenu">
	<div class="btn-group btn-group-sm">
		<button type="button" class="btn btn-primary active"><span class="glyphicon glyphicon-music"></span>&nbsp;&nbsp;Most popular</button>
		<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;More recent</button>
		<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Friends jams</button>
		<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;Our favorites !</button>
	</div>
</div>
<div class="feeds"></div>
